@font-face {
    font-family: "rubber";
    src: url(../fonts/Rubber.ttf");
}

@font-face {
    font-family: "neon";
    src: url("../fonts/NEON.otf");
}

@font-face {
    font-family: "ITCEDSCR";
    src: url("../fonts/ITCEDSCR.TTF");
}

h3 {
    font-size: 48px;
    padding: 50px 0;
}

#loadBG {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(13, 71, 106, 1) 0%, rgba(13, 71, 106, 1) 10%, rgba(13, 71, 106, 1) 20%, rgba(13, 71, 106, 1) 31%, rgba(0, 56, 73) 100%);
    z-index: 1000;
}

.loading {
    font-size: 16px;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 0.3em solid rgba(255, 255, 255, 0.1);
    border-right-color: rgba(255, 255, 255, 1);
    animation: loading-anim 0.5s 0s infinite linear;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2001;
}

.loading:before {
    content: '';
    width: 3.8em;
    height: 3.8em;
    border-radius: 50%;
    box-sizing: border-box;
    border: 0.2em solid rgba(255, 255, 255, 0.1);
    border-right-color: rgba(255, 255, 255, 1);
    display: block;
    animation: loading-anim 0.3s 0s reverse infinite linear;
}

@-webkit-keyframes loading-anim {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading-anim {
    100% {
        transform: rotate(360deg);
    }
}

/********************NAVIGATION********************/

nav {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 1%;
    width: 100%;
    height: 100px;
    z-index: 10;
    transition: 500ms ease-in-out;
}

nav div {
    width: 97%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    justify-content: flex-end;
}

nav div a {
    height: 70%;
}

nav div a img {
    height: 100%;
    transition: transform 0.3s;
}

.link img:hover {
    cursor: pointer;
    transform: scale(1.07);
}

/********************FRONT PAGE********************/

#wrapper {}


section {
    width: 100%;
    background-image: url("../img/Background.jpg");
    background-color: rgba(13, 71, 106, 1);
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

#section1 {
    height: 100vh;
    position: relative;
}

#section2 {
    position: relative;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(13, 71, 106, 0.73) 10%, rgba(13, 71, 106, 1) 20%, rgba(13, 71, 106, 1) 31%, rgba(0, 56, 73) 100%);
}

#particles-js {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    transform: scale(1);
    z-index: 1;
    overflow: hidden;
}

.container-front {
    padding-top: 20vh;
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 2;
}

.box .logo {
    width: 100%;
    opacity: 0.25;
    text-align: center;
    position: absolute;
    transform: translateY(-10%);
}

.logo img {
    display: none;
    width: 40%;
    min-width: 400px;
}

.box-row {
    font-family: "ITCEDSCR", helvetica, sans-serif;
    font-size: 8.3em;
    text-align: center;
    z-index: 3;
}

.box-row p {
    color: #fff;
    text-shadow: 0px 0px 3px #000, 3px 3px 5px #B17F2A;
}

.box-row--small {
    font-family: "ITCEDSCR", helvetica, sans-serif;
    font-size: 4.5em;
    text-align: center;
    padding: 5px 0;
    color: #B17F2A;
    text-shadow: 0px 0px 3px #000;
    z-index: 3;
}


#gallery {
    position: relative;
    width: 90%;
    margin: auto;
    padding-bottom: 80px;
    padding-top: 80px;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    justify-content: center;
    grid-gap: 15px;
}

.item {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}

.item img {
    opacity: 0.9;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.item img:hover {
    transform: scale(1.05);
    opacity: 1;
}